body{
	margin: 0px;
	background-color: blueviolet;
}
.container{
	width: 500px;
	height: 365px;
	margin-top: 10%;
	border-radius: 10px;
	background-color: white;
	/*background-color: blueviolet;*/
}
.col{
	height: 40px;
	/*margin: 10px 0px;*/
	margin-top: 20px;
}
input{
	font-size: 18px;
	border: 0px;
	width: 90%;
	border-radius: 5px;
	background-color: #dadada;
}
#addProject textarea{
	font-size: 20px;
	border: 0px;
	width: 90%;
	height: 97px;
	background-color: #dadada;
	border-radius: 5px;
}
input[type = 'submit']{
	color: white;
	background-color: blueviolet;
	margin-top: 40px;
	font-size: 25px;
}
input[type = 'submit']:hover{
	color: rgb(129, 0, 255);
	background-color: white;
	font-size: 25px;
}
input[type = 'submit']:active{
	color: blueviolet;
	background-color: lime;
	font-size: 25px;
}
.cancel-btn{
	background-color: white;
	color: blueviolet;
	text-decoration: none;
	width: 100px;
	font-size: 25px;
}
input[name='cancel']:hover{
	background-color: rgb(129, 0, 255);
	color: white;
	font-size: 25px;
}
input[name='cancel']:active{
	background-color: blueviolet;
	color: lime;
	font-size: 25px;
}
#signin{
	height: 325px;
	/*display: none;*/
}